.encabezado{
    background-color: deepskyblue;
    text-align: center;
    color: white;
    font-size: 40px;
    
}

.parrafo{
    background-color: deepskyblue;
    text-align: center;
    font-size: 20px;
}
.h2{
    background-color: yellow;
    text-align: center;
}

.lista{
    background-color: orange;
    text-align: center;
    list-style: none;
    
}

.animales{
    background-color: red;
    text-align: center;
}

