*{
    padding: 0;
    margin: 0;
    
}

#contenedor-form{
    padding: 4.5rem ;
}

#tercer-contenedor #contenedor-titulo #titulo{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #707070;
}

#formulario{
    padding-left: 35%;

}