*{
    padding: 0;
    margin: 0;
    
}

#primer-contenedor{
    height: 150px;
    width: 100%;
    background-color: #C52AAD;
}

#primer-contenedor #contenedor-logo a{
    text-decoration: none;
    color: white;
    font-size: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
     Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
     'Helvetica Neue', sans-serif;
    font-weight: 600;
}

/* Inicio del carrito */
#primer-contenedor #contenedor-carro{
    display: flex;
    text-align: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    border-radius: 99px;
    background: #500B59;
    transition: all 0.5s;
    cursor: pointer;
}

#primer-contenedor #contenedor-carro:hover{
    background-color: white;
}

#primer-contenedor #contenedor-carro #carrito{
    color: white;
    font-size: 40px;
    margin-top: 5px;
    transition: all 0.5s;
}

#primer-contenedor #contenedor-carro #carrito:hover{
    color: #500B59;
}

/* Fin del carrito */

#segundo-contenedor{
    height: 75px;
    width: 100%;
    background-color: #500B59;
}

#segundo-contenedor #dropdownMenuLink{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;

}

#segundo-contenedor #dropdownMenuLink:hover{
    background:#C52AAD;
}

#tercer-contenedor {
    border-radius: 6px;
}

#contenedor-fotos{
    margin: 0;
    padding: 0;
}

#games{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(99,196,255,1) 57%);
    background-repeat: repeat-x;
    background-size: 75%;
    margin-top: -20px;
}

#BarraNosotros{
    background-color: #500B59;
}

#ListadoNosotros{
    text-align: center;
}

#Pestrella{
    color: rgb(194, 47, 162);
}

/* Carousel tiene height puesto en .carousel y .carousel-inner > .item > img. /
.carousel, .carousel-inner > .item > img {
    height: 10%;
}
/ con carousel-inner img para darle tamaño a la imagen y carousel-inner para darle tamaño al carousel  */
/*.carousel, .carousel-inner > .item > img {
    height: 10%;
}
.carousel-inner img {
    max-height: 400px;
}
.carousel-inner{
    height: 400px;
}
*/
